
@include table-row-variant('success', $state-success-bg, $state-success-text);
@include table-row-variant('info', $state-info-bg, $state-info-text);
@include table-row-variant('warning', $state-warning-bg, $state-warning-text);
@include table-row-variant('danger', $state-danger-bg, $state-danger-text);

.table-codex td.highlight div.primary {
    border-left: 2px solid $brand-primary;
}

.table-codex td.highlight div.success {
    border-left: 2px solid $brand-success;
}

.table-codex td.highlight div.info {
    border-left: 2px solid $brand-info;
}

.table-codex td.highlight div.warning {
    border-left: 2px solid $brand-warning;
}

.table-codex td.highlight div.danger {
    border-left: 2px solid $brand-danger;
}
