extends layouts/default
block vars
    - assetPath = config.baseUrl + 'assets/';

block page-title
    | !{doc.title}

block breadcrumb
    +breadcrumb('index.html', true) Home

block content
    .row
        .col-md-12!= doc.content

block prepend init-script
    script.
        packadicConfig.requirejs.baseUrl = '!{assetPath}scripts/';

