extends layouts/default

block page-title
    | Home

block breadcrumb
    +breadcrumb('index.html', true) Home

block content

    .row
        if typeof getParsedDocFile !== 'undefined'
            .col-md-12!= getParsedDocFile('../README')
        else
            .col-md-12
