extends layouts/default

mixin used(pre, name)
    li
        strong(style="width: 100px; display:inline-block")= pre
        | : #{name}



block page-title
    | Home

block breadcrumb
    +breadcrumb('index.html', true) Home

block content

    .row
        if typeof getParsedDocFile !== 'undefined'
            .col-md-12!= getParsedDocFile('../README')
        else
            .col-md-12
