extends layouts/default
block vars
    - assetPath = config.baseUrl + 'assets/';
    - bodyClass += ' page-sidebar-closed page-sassdoc';
    - sidebarClass += ' page-sidebar-menu-closed';
block append styles
    link(href=assetPath + "styles/sassdoc/main.css", type="text/css", rel="stylesheet", data-styler="stylesheet")

block page-content-wrapper
    .page-content
        .row!= sassdoc.content

block prepend init-script
    script.
        packadicConfig.requirejs.baseUrl = '!{assetPath}scripts/';
block append init-script
    script.
        require(['fuse', 'highlightjs', 'sassdoc/main', 'sassdoc/search','sassdoc/sidebar' ], function(fuse, hljs, App, Search, Sidebar){
            window.Fuse = fuse;
            var app = new App();
            console.log(app, arguments);
        });

