extends layouts/default

block append styles
    link(href=assetPath + "styles/typedoc/main.css", type="text/css", rel="stylesheet", data-styler="stylesheet")

block page-content-wrapper
    .page-content!= typedoc.content
